@font-face {
  font-family: olde;
  src: url(./fonts/Canterbury.ttf);
}

*
{
  box-sizing: border-box;
}

html
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}

body {
  font-family: sans-serif;
  background-color: #aa895a;
  display: block;
  justify-content: center;
  align-items: center;
}



header {
  text-align: center;
  padding: 4rem;
  padding-top: 1.125rem;
  color: hsl(0, 21%, 19%);
  font-family: olde;
}

footer {
  font-size: 10px;
  color: whitesmoke;
  text-align: center;
  padding-top: 8.775rem;
}

.card {
  background-color: hsl(11, 27%, 42%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  margin-top: 5.875rem;
}

.card-body {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
  column-gap: 3rem;
  align-items: center;
}

.card .card-header h2 {
  text-align: center;
  color: white;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.btn {
  border: none;
  background-color: rgb(45, 29, 34);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 1.375rem;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  font-family: olde;
}

.btn:hover {
  background-color: rgb(161, 145, 106);
}



#passwordDisplay {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: grid;
  width: 100%;
  font-size: 1.2rem;
  padding-left: 1.775rem;
  text-align: center;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  word-break: break-all;
}

.thing,
.card-body {
  display: grid;
  color: white;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

.text{
  font-family: olde;
  font-weight: lighter;
  color: white;
}